@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
/* Heading font - Funnel Display */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Quicksand:wght@300..700&display=swap");
/* Body font - Quicksand */

/* Colour Pallette */
:root {
  --primary-color: #1e2a5e;
  --secondary-color: #1a8f8f;
  --background-color: #ced1e3;
  --text-color: #333333;
  --accent-color: #24c9c9;
  --lightergrey: #f6f6f6;
}

/* Global styles */

html {
  scroll-behavior: smooth; /* smooth scrolling for anchor links */
}

body {
  padding-top: 72px; /* space for fixed navbar */
  background-color: var(--background-color);
  font-family: "Quicksand", sans-serif;
}

section {
  scroll-margin-top: 80px; /* so anchors don't hide behind navbar */
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--secondary-color) !important;
  font-family: "Funnel Display", sans-serif;
}

h2 {
  text-transform: uppercase;
}

.text-primary {
  color: var(--text-color) !important;
  font-weight: 700 !important; /* make text readable for accessibility & different screen sizes */
}

/* Navbar */

.navbar {
  background-color: var(
    --secondary-color
  ); /* navbar custom styling, color, text */
  text-transform: lowercase;
  font-weight: bold;
}

.navbar .nav-link :hover {
  color: var(--background-color) !important; /* navbar link hover color */
}

/* Logo styling */

.brand-icon {
  font-size: 2.5rem;
  color: #ffffff;
}

.brand-logo-hover:hover {
  color: var(--text-color) !important;
}

.lighter-weight {
  font-weight: lighter;
}

/* Grid visualisation for layout */

/* .container,
.container-fluid {
  border: solid 2px rgb(35, 37, 35);
}
.row {
  border: solid 2px rgb(94, 95, 95);
}

.col,
.col-12,
.col-md-6,
.col-md-5 {
  border: solid 2px rgb(128, 128, 129);
} */

/* Header and hero */

.hero {
  min-height: 60vh;
  display: flex;
  align-items: center;
  background: url(../images/hero3.png) no-repeat center center;
  background-size: cover;
}

.hero-overlay {
  background-color: rgba(51, 51, 51, 0.55);
  padding: 2rem;
  border-radius: 20px;
}

.hero h1,
.hero p {
  color: var(--background-color) !important;
}

.hero p {
  font-weight: bold;
}

.content-wrapper {
  max-width: 1100px; /* or 900px, 1200px etc. */
  margin: 0 auto; /* centers the content */
  padding: 0 1.5rem; /* mobile-friendly side padding */
}

/* Buttons */

.custom-btn-filled {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: solid 2px var(--background-color);
}

.custom-btn-filled:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: solid 2px var(--secondary-color);
}

.custom-btn-outline {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: solid 2px var(--background-color);
}

.custom-btn-outline:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: solid 2px var(--background-color);
}

/* Specific Sections Styling */

/* Cards */

#demystifying {
  margin-top: -2rem; /* adjust spacing for section heading under hero. */
}

.card-icon {
  font-size: 600% !important;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.card {
  background-color: var(--lightergrey);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
}

.card:hover {
  box-shadow: 0 1.5rem 1rem var(--secondary-color);
}

.card-title {
  display: none;
}

/* Make a difference */

.carousel-wrapper {
  max-width: 450px; /* scale the images in the carousel */
  margin: 0 auto; /* center it within its column */
}

#difference img {
  width: auto;
  max-width: 100%;
  border-radius: 20px;
}

/* Practical tips */

.list-boxes {
  border-radius: 20px;
}

.list-group-item {
  border: none;
  font-size: 1.2rem;
  background-color: var(--lightergrey);
}
.list-group-item:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  cursor: pointer;
}
.list-group-item .fw-bold {
  margin-bottom: 0.5rem;
}

/* Resources */

#resources a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

#resources a:hover {
  color: var(--accent-color);
}

.icon-circle {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--accent-color);
  margin: 0 auto;
  font-size: 2rem;
}

/* Newsletter form */

.newsletter-form .form-control {
  margin-bottom: 0.75rem;
}
